p{color: blue; font-size: 25px; background-color: red; }

.clase-eliel{
    color: rgb(219, 182, 16));
    background-color: yellow;
}

/* Estilos para aparentar un boton de la clase boton-personalizado */
.boton-personalizado{
    background: #f2f2f2;
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
}