
p{color: blue; font-size: 25px; background-color: red;
}

.clase-victoria{
    background-color: white;
    color: yellow;
}

.boton-personalizado{
    background-color:#3b42f6;
    color: white;
    padding:15px 40px;
    border-radius:50px;
    font-weight:bold;
}